<tr>
  <td><%= vocab.english %></td>
  <td><%= vocab.japanese %></td>
  <td><%= link_to  "Delete", destroy_vocab_path(user_article_id:params[:id], id: vocab.id), class: 'btn red darken-1', method: :delete %></td>]
</tr>
