<div class="container">
  <div class="inner ">
  	<div class="row center">
      <h1 class="">Welcome to E-go!</h1>
  	  <div class="col s12 m6 "><h4 class="blue lighten-2 white-text">E-go!</h4>
  		<p>E-go!は「ニュースを英語で読む」ことを<br>習慣づけるためのアプリです<br>
  		あなたが読みたいニュースを登録して<br>英語を読む習慣を身につけましょう!!</p>
  	  </div>
      <div class="col s12 m6 "><h4 class="blue lighten-2 white-text">Usage</h4>
      <p> 1.気になるニュースサイトにアクセス<br>2.読みたい記事をコピー<br>3.記事を作成<br>4.翻訳したい単語をクリック </p>
      </div>
    </div>
    <div class="row center ">
      <div class="center col s6  offset-l3">
        <h3 class="pink lighten-2 white-text">Start E-go!</h3>
        <p><%= link_to "Login", signup_path, class: "btn blue lighten-2 "%><%= link_to "Signup", login_path, class: "btn blue lighten-2" %></p>
      </div>
    </div>
  </div>
</div>