<div class="inner ">
	<div class="row">
    <% @entries.each do |entry| %>
    <div class="col s12 m6">
      <div class="card blue darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= link_to entry.title,entry.url%></span>
          <p>published <%= time_ago_in_words(entry.published) %> ago.</p>
        </div>
        <div class="card-action">
          <%= link_to entry.url,entry.url %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
    

