<div class="container">
<div class="inner ">
  <div class="row">
	<div>
	<div class="your-vocabulary col s12">
      <p>Vocabularies</p>
      <table class="centered">
        <thead>
        <tr>
            <th>Word</th>
            <th>Meaning</th>
        </tr>
      </thead>

      <tbody>
        <% @vocabs.each do |vocab| %>
        <tr>
          <td><%= vocab.english %></td>
          <td><%= vocab.japanese %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


    </div>
    <p><%= link_to "記事の新規投稿" , new_user_article_path(current_user) %></p>
    </div>
  </div>
</div>
</div>