<% if @top_headlines.present? %>
<% @top_headlines.each do |headline| %>
    <div class="col s12 m6">
      <div class="card blue-grey darken-1 hoverable">
        <%= link_to(headline.url,target: :_blank) do %>
        <div class="card-image">
        <%=  image_tag headline.urlToImage, size: 'auto' %>
        </div>
        <div class="card-content white-text">
          <span class="card-title">
             <%= headline.title %></span>
        </div>
        <% end %>
        <div class="card-action">
          <%= link_to "このニュースを記事にする", new_user_article_path(title: headline.title,url: headline.url, publishedAt: headline.publishedAt) %>
        </div>
      </div>
    </div>
<% end %>
<% else %>
  <p>News doesn't exist here</p>
<% end %>