// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*users#home/



.all_article-image{
    width: 10%;
    height: auto;
}


/*users#new*/
.container .inner {
	min-height:600px;
	widht:100%;
	margin:0 10px;
}


.container .inner .main-visual{
	widht:100%;
	height: 300px;
	display:flex;
}
