<header>
	<div class = "inner">
		<div class="flexbox">
			<h1 class="logo-img">
				<a href="#"><img src="#" alt="logo"></a>
			</h1>
			<nav class="nav-global">
			<ul class="flexbox">
				<li><a href="#">Top</a></li>
				<li><a href="#">Top</a></li>
				<li><a href="#">Top</a></li>
				<li><a href="#">Top</a></li>
			</ul>
		</nav>
		</div>
	</div>
</header>
